{% extends 'base.html.twig' %}

{% block title %}Articles{% endblock %}

{% block body %}
    <h1>Articles</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ article.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ article.title }}</td>
            </tr>
            <tr>
                <th>Content</th>
                <td>{{ article.content }}</td>
            </tr>
        </tbody>
    </table>
    <div>

        <a href="{{path('app_user_comments_new',{'id': article.id})}}"> Ajouter un commantaire </a>

    </div>

    <div>
        {% for comment in comments %}
            <div> {{ comment.user.email }} a dit :</div>
            <div> {{ comment.content}} </div>
        {% endfor %}
    </div>
{% endblock %}
